<!DOCTYPE html>
<html lang="en" ng-app="tong">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="public/t_favicon.ico">
    <title>tong-blog</title> 
    <!--header-->
    <link rel="stylesheet" href="public/vender/bootstrap-3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="public/vender/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="public/vender/toastr/content/toastr.min.css">
<link rel="stylesheet" href="public/vender/angualar-1.4.0/ngProgress.css">
<link rel="stylesheet" href="public/vender/bootstrap-markdown/css/bootstrap-markdown.min.css">
<link rel="stylesheet" href="public/vender/markdownharoopad/markdown.css">
<link rel="stylesheet" href="public/vender/markdownharoopad/haroopad/haroopad.css">
<!--self-->   
<link rel="stylesheet" href="public/dist/css/app.css?rev=af7ed31daf8d74ef324daaa92659aa35">
</head>

<body ng-controller="rootCtrl" ng-class="{'day-style':root.dayStyle,'night-style':!root.dayStyle}">
    <section class="content">
        <!--nav-->
        <header class="head">
    <a href="" ui-sref="home"><span ng-bind="root.sign" class="sign"></span></a>
    <span class="headIcon" ng-show="root.ngShowHeaderIcon"><img ng-src="{{root.headerSrc}}" alt="{{root.alt}}" title="{{root.alt}}"></span>
    <span class="menu">
        <i class="fa fa-sign-out" title="{{root.loginOrOutTitle}}" ng-click="siginOrOut($event)"></i>
        <i class="fa fa-adjust" title="灯光偏好" ng-click="changeDayOrNight()"></i>
        <i class="fa"></i>
    </span>
</header> 


        <!--tags-->
        

        <!--content-->
        
        <div ui-view></div>

        <!--footer-->
        <footer class="footer" ng-controller="footerCtrl">
    <div class="" ng-bind="footer.text"></div>
</footer>
        <gotop></gotop>
    </section> 
    <!--footer-->
    <script src="public/vender/jquery/jquery-1.11.2.min.js"></script>   
<script src="public/vender/angualar-1.4.0/angular.min.js"></script>
<script src="public/vender/angualar-1.4.0/angular-sanitize.min.js"></script>
<script src="public/vender/angualar-1.4.0/angular-cookies.min.js"></script>
<script src="public/vender/angualar-1.4.0/ngprogress.min.js"></script>
<script src="public/vender/angualar-1.4.0/ui-bootstrap-tpls.min.js"></script>
<script src="public/vender/angualar-1.4.0/angular-animate.min.js"></script>
<script src="public/vender/angualar-1.4.0/angular-resource.min.js"></script>
<!--<script src="vender/angualar-1.4.0/ui-bootstrap.min.js"></script>-->
<script src="public/vender/angualar-1.4.0/angular-touch.min.js"></script>
<script src="public/vender/angualar-1.4.0/angular-ui-router.min.js"></script>
<!--bootstap-markdown-->
<script src="public/vender/bootstrap-markdown/js/bootstrap-markdown.js"></script>
<!--ng-gile-upload-->
<script src="public/vender/angualar-1.4.0/ng-file-upload/ng-file-upload-shim.min.js"></script>
<script src="public/vender/angualar-1.4.0/ng-file-upload/ng-file-upload.min.js"></script>
<!--ng-lodash-->
<script src="public/vender/angualar-1.4.0/ng-lodash/ng-lodash.min.js"></script>
<script src="public/vender/toastr/scripts/toastr.min.js"></script>
<script src="public/vender/babel-polyfill/polyfill.min.js"></script>
<script src="public/dist/js/app.js?rev=675745171f8165eb2b4814f0d41bd713"></script>  
</body>

</html>
