<div class="panel">
    <div class="panel-body">
        <h2>管理博客-博客列表</h2>
        <div class="lists">
            <table class="table tableBlog">
                <thead>
                    <tr>
                        <td>id</td>
                        <td>文章名称</td>
                        <td>喜欢数</td>
                        <td>评论数</td>
                        <td>访问数</td>
                        <td>管理</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in blogLists">
                        <td>{{item.cid}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.like}}</td>
                        <td>{{item.comment}}</td>
                        <td>{{item.read}}</td>
                        <td>
                            <a class="btn btn-md btnThis" ui-sref="blog({cid:item.cid})">查看</a>
                            <a class="btn btn-md btnThis" ng-click="del(item.cid)">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!---分页-->
        <div class="row">
            <div class="col-sm-5 col-xs-12">
                <div class="dataTables_info">Page: {{options.currentPage}} / {{numPages}} of {{bigTotalItems}}</div>
            </div>
            <div class="col-sm-7 col-xs-12">
                <pagination ng-change="pageChanged()" total-items="bigTotalItems" ng-model="options.currentPage" max-size="maxSize" items-per-page="options.itemsPerPage" class="pagination-md pull-right" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
            </div>
        </div>

        <!---分页结束-->


    </div>
</div>
