<div class="panel">
    <div class="panel-body">
        <h2>管理博客-用户列表</h2>
        <div class="userlists">
            <table class="table tableUser">
                <thead>
                    <tr>
                        <td>id</td>
                        <td>用户名</td>
                        <td>注册时间</td>
                        <td>注册方式</td>
                        <td>访问数</td>
                        <td>管理</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in userLists">
                        <td>{{item.cid}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.registerTime}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.read}}</td>
                        <td>
                            <a class="btn btn-md btnThis" ui-sref="blog({cid:item.cid})">查看</a>
                            <a class="btn btn-md btnThis" ng-click="del(item.cid)">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!---分页-->
        <div class="row">
            <div class="col-sm-5 col-xs-12">
                <div class="dataTables_info">Page: {{manageUser.options.currentPage}} / {{manageUser.options.numPages}} of {{manageUser.options.bigTotalItems}}</div>
            </div>
            <div class="col-sm-7 col-xs-12">
                <pagination ng-change="pageChanged()" total-items="manageUser.options.bigTotalItems" ng-model="manageUser.options.currentPage" max-size="manageUser.maxSize" items-per-page="manageUser.options.itemsPerPage" class="pagination-md pull-right" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
            </div>
        </div>

        <!---分页结束-->
    </div>
</div>
