<div class="comment">
    <div class="">
        <div class="comment-info">
            <span class="icon"><img ng-src="{{comment.imgSrc}}" alt=""></span>
            <div class="other">
                <div><span class="comment-time" ng-bind='comment.time'></span></div>
                <div><span class="comment-other"></span></div>
            </div>
        </div>
        <div class="content">
            <p ng-bind='comment.content'></p>
        </div>
        <div class="rpBtn clearfix">
            <span class="" ng-click="reply(comment.index,comment.name)"><i class="fa fa-reply" title="回复"></i></span>
        </div>
    </div>
    <reply ng-repeat="replyItem in comment.reply track by $index"></reply>
    <div class="form-reply" ng-show="textareaShow">
        <textarea name="" id="" cols="30" rows="10" ng-blur="blur()" ng-model="vals"></textarea>
        <i class="fa fa-pencil-square-o btn-i-reply" title="提交" ng-click="sendBlogComment($index,comment.index)"></i>
    </div>
    <!--回复内容-->
</div>
