<div class="panel loginCon">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label for="userName" ng-bind="loginScope.I18N.nikeName"></label>
                    <input type="text" id="userName" class="form-control" ng-model="loginScope.userName">
                </div>
                <div class="form-group">
                    <label for="password" ng-bind="loginScope.I18N.password"></label>
                    <input type="password" id="password" class="form-control" ng-model="loginScope.password">
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label for="authCode" ng-bind="loginScope.I18N.authCode"></label>
                            <input type="text" class="form-control" id="authCode" ng-model="loginScope.authCode">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <!--<label for="authCode" ng-bind="loginScope.I18N.clickRefresh"></label>-->
                        <div class="form-group" ng-click="changeCode()">
                            <img src="" alt="验证码" class="authCodeSrc" ng-src='{{authCodeSrc}}'>
                        </div>
                    </div>
                </div>
                <div class="login">
                    <button class="btn btnThis" ng-bind="loginScope.I18N.login" ng-click="login()"></button>
                    <a class="btn btnThis" ng-bind="loginScope.I18N.sigin" ui-sref='sigin'></a>
                </div>
                <div class="thirdParty">


                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
                <div class="sns-container">
                    <h3>您可以通过以下方式登录</h3>
                    <hr>    
                    <ul class="clearfix">
                        <li>
                            <a class="sns-weibo" ng-click="snsLogin('weibo')"><i class="fa fa-weibo"></i></a>
                        </li>
                        <li>
                            <a class="sns-qq" ng-click="snsLogin('qq')"><i class="fa fa-qq"></i></a>
                        </li>
                        <li>
                            <a class="sns-github" ng-click="snsLogin('github')"><i class="fa fa-github"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
