/*--------------阻止页面长按选中功能------------*/
* {
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
}
/*----------------阻止数字按钮出现选择按钮-----------*/
.deal::-webkit-textfield-decoration-container {
    background-color: #f0f3f9;	
}
.deal::-webkit-inner-spin-button {
     -webkit-appearance: none;
}
.deal::-webkit-outer-spin-button {
     -webkit-appearance: none;	/* 有无看不出差别 */
}
/*--------------------针对火狐浏览器的hack  放在页面里面有效果---------------------------*/
@-moz-document url-prefix(){
	.xxx{background:url();}
}
html,body{
    min-height: 100%;
}
html,body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
a {text-decoration: none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;}
a:hover,a:active,a:focus,a:visited{
    text-decoration: none !important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
    vertical-align: middle;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%;
}

legend {
    color: #000;
}

/* clearFix */
.clearfix {
    zoom: 1
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden
}

.clear {
    clear: both;
}
/*---------------解决google浏览器输入框背景色问题--------------------------------*/
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
/*-----------------------------table----------td-------------------------------------------*/
table{table-layout: auto;}
td{        word-break:keep-all;/* 不换行 */
           white-space:nowrap;/* 不换行 */
           overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
           text-overflow:ellipsis;}
/*----------------------------------------------------弹出框-----showAlert1()---------------------------------------*/
/*.opacityBg{position:absolute;width:100%;height:100%;top:0;background:url(../images/loading_bg.png) 0 0 repeat; z-index:100;}*/
.divbox2 {position: fixed;display: block;color: #A0A0A0;width: 70%;padding: 20px;border-radius: 10px;background: #eaeaea;}
.divbox2 .title1{margin:0 0 15px;font-weight:bold;font-size:20px;color:#B72626;}
.divbox2 .title1,.divbox2 .alertText{text-align:center;font-size:18px;}
.divbox2 .showAlert1Text{text-align:center;font-size:18px;}
.button1{display:block;color:#fff;font-size:18px;border:0;width:80%;height:44px;line-height:44px;margin:20px auto 10px;font-weight:bold;text-align:center;background:#4079e4;background-size: 100% 100%}
.opacitya{width:100%;height:100%;position:absolute;left:0px;top:0px;}

.mb{width:100%;height:100%;background:url(../image/img_mengban.png) 0 0 repeat;position:fixed;left:0;top:0;z-index:200;}
.agreement{width:80%;margin: 20px auto;background: #ffffff;}
.agreement h3{font-size: 25px;text-align: center;}
/*-------------------------------------------公共内容---------------------------------------------*/
