body,
a {
    color: aquamarine;
}
body{
    padding-bottom: 25px;
    min-height: 700px;
    position: relative;
}
textarea {
    resize: none;
}

/*common*/

.w900 {
    width: 100%;
    margin: 0 auto;
}
.btnThis,.btnThis:hover,.btnThis:focus,.btnThis:visited,.btnThis:active {
    background: aquamarine;
    color: #fff;
    font-weight: 800;
}

/*-----------header-------*/

header.head {
    /*height: 60px;*/
    min-height: 60px;
    line-height: 60px;
    color: aquamarine;
    padding: 0 50px;
    font-size: 25px;
    font-weight: 900;
    border-bottom: 1px solid aquamarine;
}
header.head:hover {
    background: aqua !important;
    color: #fff !important;
}
.head a {
    color: inherit;
}
.head span.menu {
    display: inline-block;
    float: none;
}
.head span.menu i {
    cursor: pointer
}
span.headIcon {
    display: inline-block;
    float: right;
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    line-height: 0;
}
span.headIcon img {
    width: 100%;
    height: 100%;
}

/*-----tags--------*/

.tags {
    margin: 5px auto;
}
.tags li {
    float: left;
    display: inline-block;
    border: 1px solid aquamarine;
    border-radius: 3px;
    margin: 5px 15px;
    padding: 5px 15px;
}
.tags li:hover {
    color: #fff;
    background: aquamarine;
}
.tags li.active{
    color: #fff;
    background: aquamarine;
}
.tags li a {
    color: inherit;
}

/*----------list-------*/

.blog-list {
    margin: 5px auto;
}
.blog-list li.blog-item {
    margin: 0 0 10px;
    padding: 5px 0;
    border-top: 1px solid aquamarine;
}
.blog-list img {
    border-radius: 5px;
    width: 200px;
    height: 200px;
}
.preImg {
    float: right;
}
.preTitle {
    position: relative;
    margin: 0 200px 0 0;
    height: 200px;
}
.dataDiv {
    position: absolute;
    bottom: 10px;
    font-size: 20px;
}
.dataDiv i {
    margin-right: 15px;
}
span.time {
    font-size: 16px;
}

/*--------------footer-----------*/

.footer {
    margin: 5px auto 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer div {
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}
@media screen and (min-width:900px) {
    .w900 {
        width: 900px;
        margin: 0 auto;
    }
    span.time {
        font-size: 18px;
    }
    .head span.menu {
        display: inline-block;
        float: right;
    }
}

/*----------blog----------------*/
.blog-title h2{
    text-align: center;
}

.blogContent {
    color: black;
}

/*------------directive----------*/

.gotop {
    width: 35px;
    height: 35px;
    position: fixed;
    right: 20px;
    bottom: 30px;
}
.gotop i {
    height: 100%;
    width: 100%;
    display: inline-block;
    font-size: 35px;
}

/*------------评论---------------*/

.comment {
    padding: 5px;
    border-top: 1px solid aquamarine;
    border-bottom: 1px solid aquamarine;
}
.comment-info .icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    float: left;
}
.comment-info .icon img {
    width: 100%;
    height: 100%;
}
.rpBtn span {
    float: right;
    color: aquamarine;
}
.form-reply {
    height: 60px;
    /*overflow-y: scroll;*/
    padding: 0 15px;
}
.form-reply textarea {
    width: 100%;
    height: 100%;
}

/*--------reply------------------*/

.reply {
    border-top: 1px dashed aquamarine;
    border-bottom: 1px dashed aquamarine;
    border-left: 5px solid aquamarine;
    padding: 5px 0 5px 10px;
}
.reply-content{
    margin-bottom: 8px;
}
.reply-name {  
    margin-right: 10px;
}
i.fa-reply,
i.fa-pencil-square-o,
i.fa-pencil,
i.fa-heart{
    font-size: 20px;
    color: aquamarine;
}

/*-------回复textarea------------------*/

.form-reply {
    margin: 5px;
    position: relative;
}
.form-reply textarea {
    border-radius: 5px;
}
i.fa-pencil-square-o {
    position: absolute;
    bottom: 10px;
    right: 20px;
}
/*-------support------*/
.support {
    margin: 5px;
}
.support i{
    margin: 5px 10px;
    //float: right;
    border: 1px solid aquamarine;
}
i.liked{
    color: aquamarine;
}
i.noliked{
    color: #f1f1f1;
    border: 1px solid aquamarine;
}
/*------------------评论textarea----------------*/
.commentArea{
    padding: 10px;
}
.commentArea textarea{
    width: 100%;
}
.cmBtn{
    background: aquamarine;
    color: #fff;
}
/*-----------------admin----------------------*/
.tableBlog{
    width: 80%;
    margin: 5px auto;
}
.tableBlog tr{
    height: 45px;
    padding: 5px
}
.tableBlog td{ 
    margin: 5px 5px;
}