<div class="modal-header">
    <h3 class="modal-title" ng-bind="modalTitle"></h3>
</div>
<div class="modal-body">
    <ul>
        <li>
            <div class="form-group">
                <label for="tagName" ng-bind="addTag.I18N.tagName"></label>
                <input type="text" id="tagName" class="form-control" ng-model="addTag.tagName" ng-class="{error:!addTag.checkTagName}">
            </div>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btnThis" type="button" ng-show="okBtnShow" ng-click="ok()">OK</button>
    <button class="btn btnThis" type="button" ng-show="cancelBtnShow" ng-click="cancel()">Cancel</button>
</div>
